<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.goal.goal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AgreementActivity" />
        <activity android:name=".A_Word_EverydayActivity" />
        <activity
            android:name=".GoalAddActivity"
            android:label="新建目标" />
        <activity
            android:name=".GoalEditActivity"
            android:label="编辑目标" />
        <activity
            android:name=".GoalDetailActivity"
            android:label="查看目标" />
        <activity
            android:name=".EditInfoActivity"
            android:label="编辑个人信息" />
        <activity
            android:name=".Realtime_statisticsActivity"
            android:label="实时统计" />

        <activity
            android:name=".QuickStartActivity"
            android:label="快速开始">
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="关于" />
        <activity
            android:name=".AccountSafetyActivity"
            android:label="账号安全" />
        <activity

            android:name=".SettingsActivity"
            android:label="程序设置" />
        <activity android:name=".EveryGoalActivity"
            android:label="每个目标">
        </activity>
        <activity
            android:name=".noteDetailAndEditActivity"
            android:label="标签详细以及编辑"/>
    </application>

</manifest>