<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.goal.goal">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_web"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AgreementActivity" />
        <activity android:name=".activity.AWordEverydayActivity" />
        <activity
            android:name=".activity.GoalAddActivity"
            android:label="新建目标" />
        <activity
            android:name=".activity.GoalEditActivity"
            android:label="编辑目标" />
        <activity
            android:name=".activity.GoalDetailActivity"
            android:label="查看目标" />
        <activity
            android:name=".activity.GoalRecordActivity"
            android:label="目标记录" />
        <activity
            android:name=".activity.EditInfoActivity"
            android:label="编辑个人信息" />
        <activity
            android:name=".activity.RealtimeStatisticsActivity"
            android:label="实时统计" />
        <activity
            android:name=".activity.QuickStartActivity"
            android:label="快速开始">

        </activity>
        <activity
            android:name=".manager.QuickStartCountTime"
            android:label="快速开始倒计时">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于" />
        <activity
            android:name=".activity.AccountSafetyActivity"
            android:label="账号安全" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="程序设置" />
        <activity
            android:name=".activity.EveryGoalActivity"
            android:label="每个目标">

        </activity>
        <activity
            android:name=".activity.NoteDetailActivity"
            android:label="标签详细" />
        <activity
            android:name=".activity.NoteEditActivity"
            android:label="标签编辑" />
        <activity
            android:name=".activity.EveryUserActivity"
            android:label="用户">
        </activity>
        <activity android:name=".activity.DetailOfRecordActivity">

        </activity>
        <activity
            android:label="接收信息"
            android:name=".activity.ContactActivity">

        </activity>
    </application>>

    </manifest>